<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php">
	<testsuite name='ownCloud - Brute Force Protection App Tests'>
		<directory>../tests</directory>
	</testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">../../brute_force_protection</directory>
			<exclude>
				<directory suffix=".php">../../brute_force_protection/l10n</directory>
				<directory suffix=".php">../../brute_force_protection/lists</directory>
				<directory suffix=".php">../../brute_force_protection/tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>
